.card {
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.card-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  //smooth transition
  transition: 0.3s ease-in-out;
}

.card-container {
  max-width: 800px;
  max-height: 500px;
  background-color: #fff;
  transition: 0.3s ease-in-out;

  border-radius: 8px;
  margin: auto;
  margin-bottom: 5vh;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image img {
  height: 220px;
  //cover
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  min-height: 200px;
}

.card-badge {
  text-transform: uppercase;
  background-color: #fff;
  color: #fff;
  padding: 2px 8px;
  border-radius: 70px;
  margin: 0;
  font-size: 12px;  
}
.one-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#tags{
  margin-left: 6px;
  transform: translateX(-6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  z-index: 1;
}
#author-name{
  font-size: 15px;
  color: #000;
}

.card-badge-blue {
  background-color: #92d4e4;
}

.card-badge-purple {
  background-color: #3d1d94;
}

.card-badge-pink {
  background-color: #c62bcb;
}

.card-body h1 {
  font-size: 16px;
  margin: 8px 0;
}

.card-body p {
  font-size: 14px;
  margin: 8px 0 16px 0;
}

.card-author {
  display: flex;
  align-items: center;
}

.card-author p {
  margin: 0 16px;
  font-size: 12px;
}

.card-author p:last-child {
  color: #888;
}

.card-author img {
  //auto cut img cover 
  object-fit: cover;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

@media (max-width: 840px) {
  .card-container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .card-container {
    max-width: 440px;
  }
}
@media (max-width: 440px) {
  .card-container {
    max-width: 240px;
  }
}