.Post{
    flex: 15;
}
.post{
    // make a margin left and right 2 px
    margin: 20px;
    // make a border radius
    border-radius: 5px;
    padding: 20px;
    // make a background color
    background-color: #fff;
}