@import "../../components/variables.scss";

.write {
  margin-top: var(--topbar-height);

}

.writeImg {
  width: 100vw;
  height: 15rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  object-fit: cover;
}

#PlusIcon {
  color: #6f787f;
  outline: 1px solid #6f787f;
  font-weight: thin;
  border-radius: 100%;
  font-size: 27px;
  padding: 8px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;

  //hover
  &:hover {
    outline: 1px solid #000000;
    color: #000;
    -webkit-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    transition: all 0.2s;
    box-shadow: inset 0 0 0 25px #a8cacd3c;
  }
}
.writeInput {
  margin-top: 20px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.writeTextarea {
  border: none;
  font-size: 20px;
  font-weight: 100;
  height: 60vh;
  width: 100%;
}

.writeFormGroup {
  width: 70vw;
  //center the form
  margin: 0 auto;
}
.writeInput:focus {
  outline: none;
}

.writeTextarea:focus {
  outline: none;
}
.writeSubmit {
  width: 70%;
  background-color: var(--blue-bg);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  //center
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  //hover
  &:hover {
    background-color: var(--blue-bg-hover);
    transition: all 0.2s;
  }
}
