.SideBarLeft {
  flex: 4;
  background-color: rgb(255, 236, 236);
  margin-top: 20px;
  padding-top: 20px;
  //make text in center
  text-align: center;
  
}

@media (max-width: 840px) {
  .SideBarLeft {
    display: none;
  }
}
